[submodule "libs/pixel-saver"]
	path = _libs/pixel-saver
	url = https://github.com/deadalnix/pixel-saver.git
[submodule "_libs/gse-sound-output-device-chooser"]
	path = _libs/gse-sound-output-device-chooser
	url = https://github.com/kgshank/gse-sound-output-device-chooser
[submodule "_libs/no-title-bar"]
	path = _libs/no-title-bar
	url = git@github.com:franglais125/no-title-bar.git
[submodule "_libs/kubectx"]
	path = _libs/kubectx
	url = git@github.com:ahmetb/kubectx.git
[submodule "_libs/ansible-completion"]
	path = _libs/ansible-completion
	url = git@github.com:dysosmus/ansible-completion.git
